body {
    margin: 0;
    overflow: hidden;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
}

h1 {
    position: absolute;
    left: 160px;
    top: 100px;

    font-weight: 400;
    font-size: 40px;

    color: #cccccc;

    text-shadow: -2px 4px 8.2px #000000, -11px 10px 15px rgba(0, 0, 0, 0.9);
}

#organizations-list {
    position: absolute;
    top: 50%;
    left: 160px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
}

.organization-btn {
    font-weight: 400;
    font-size: 20px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    padding: 12px 16px;
    gap: 18px;

    width: 103px;
    height: 38px;

    background: #2a2a2a;
    border-radius: 4px;
    color: #a4a4a4;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: background 0.3s, color 0.3s;
    -o-transition: background 0.3s, color 0.3s;
    transition: background 0.3s, color 0.3s;
}

.organization-btn:hover {
    color: #37779d;
}

.organization-btn.active {
    /* background: #4A4A4A; */
    color: #37779d;
}

#country-list {
    position: absolute;
    top: 50%;
    right: 200px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 5px;
    width: 200px;
}

.country-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    gap: 10px;
    padding: 5px;
    cursor: pointer;
    position: relative;
}

.country-item img {
    width: 40px;
    height: 26px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.country-name {
    margin-right: 10px;
    position: absolute;
    right: 44px;
    font-size: 20px;
    text-align: right;
    color: #cccccc;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
    -o-transition: opacity 0.3s ease, visibility 0.3s ease;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.country-item:hover .country-name {
    opacity: 1;
    visibility: visible;
}
